.header {
    height: 31px;
    display: flex;
    width: 100%;
    margin-bottom: 10px;
  }
  
  .header .tabs {
    text-decoration: none;
    border-bottom: solid 1.5px lightgray;
    width: 33%;
    cursor: pointer;
    height: calc(100% - 5px);
    text-align: center;
    color: #4f4f4f;
    font-size: 17px;
    font-weight: bold;
    font-family: sans-serif;
    padding-top: 5px;
    
  }
  .header .tabs:hover , .header  .selected{
    border-bottom: solid 1.5px red;
  }
  .header  .selected{
    cursor: default;
  }